<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>柳上川</title><meta name="description" content="柳上川的博客"/><link rel="shortcut icon" href="/images/blog/avatar.avif" type="image/avif"/><link rel="stylesheet" href="/styles/highlight.min.css"/><link rel="stylesheet" href="/fonts/MapleMono-NF-CN-Regular/result.css"/><link rel="stylesheet" href="/fonts/MapleMono-NF-CN-Italic/result.css"/><link rel="stylesheet" href="/fonts/MapleMono-NF-CN-Bold/result.css"/><link rel="stylesheet" href="/styles/catppuccin-macchiato.css"/><link rel="stylesheet" href="/iconfonts/iconfont.css"/><link rel="stylesheet" href="/styles/tailwind.css"/><script src="/scripts/highlight.min.js"> </script><script src="/scripts/rust.min.js"> </script><script src="/scripts/nix.min.js"> </script><script src="/scripts/scheme.min.js"> </script><script src="/scripts/htmx.min.js"> </script><script src="/scripts/prefetch.js"> </script><script src="/scripts/custom.js"> </script><meta name="darkreader-lock"></head>
  <body>
    <div id="content" class="flex flex-col mx-4 mb-20 scroll-smooth" lang="zh-Hans">
      <div class="text-2xl sm:text-3xl my-4 w-full text-center">『幻想』</div>
      <div class="flex flex-col items-center m-4">
        <div class="w-fit mx-auto text-lg font-semibold">摘要</div>
        <div class="w-fit break-keep text-center sm:mx-[25%] *:inline"><em><strong>好像有什么东西, 是不能被遗忘的呢</strong></em><br>这里是关于 ACGN(动漫, 漫画, 游戏, 小说) 杂七杂八的想法/评测/吐槽<br>就这样沉溺在幻想之中吧! ! !<br></div>
      </div>
      <hr class="border-2 border-dashed my-10">
      <h1 class="flex items-center w-fit my-6" id="kou-kou-kong-jian"><span class="text-2xl mr-2 text-cyan-500">🔗</span> <a class="text-4xl hover:underline underline-offset-8" href="#kou-kou-kong-jian">扣扣空间</a></h1>
      <p><strong>此页面又名: QQ空间博客版(大雾)</strong><br><br></p>
      <ul class="list-disc ml-5">
        <li>2023年及以前:<br></li>
      </ul>
      <p>啊, 妙妙想法已经永久丢失哩…<br><br></p>
      <ul class="list-disc ml-5">
        <li>2024:</li>
      </ul>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/东方病娇乡" hx-get="/fantasy/东方病娇乡/index.html" hx-target="body" hx-push-url="/fantasy/东方病娇乡" hx-swap="innerHTML show:window:top">东方病娇乡</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/被女子高中生抱住喊主人这件事" hx-get="/fantasy/被女子高中生抱住喊主人这件事/index.html" hx-target="body" hx-push-url="/fantasy/被女子高中生抱住喊主人这件事" hx-swap="innerHTML show:window:top">被女子高中生抱住喊主人这件事</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/现实中的苍之继承者-bbee团队" hx-get="/fantasy/现实中的苍之继承者-BBEE团队/index.html" hx-target="body" hx-push-url="/fantasy/现实中的苍之继承者-BBEE团队" hx-swap="innerHTML show:window:top">现实中的苍之继承者-BBEE团队</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/东方幼灵梦" hx-get="/fantasy/东方幼灵梦/index.html" hx-target="body" hx-push-url="/fantasy/东方幼灵梦" hx-swap="innerHTML show:window:top">东方幼灵梦</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/不平静的日常" hx-get="/fantasy/不平静的日常/index.html" hx-target="body" hx-push-url="/fantasy/不平静的日常" hx-swap="innerHTML show:window:top">不平静的日常</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/bilibili-2024拜年祭" hx-get="/fantasy/BiliBili-2024拜年祭/index.html" hx-target="body" hx-push-url="/fantasy/BiliBili-2024拜年祭" hx-swap="innerHTML show:window:top">BiliBili-2024拜年祭</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/2024情人节特供" hx-get="/fantasy/2024情人节特供/index.html" hx-target="body" hx-push-url="/fantasy/2024情人节特供" hx-swap="innerHTML show:window:top">2024情人节特供</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/2024情人节特供后日谈" hx-get="/fantasy/2024情人节特供后日谈/index.html" hx-target="body" hx-push-url="/fantasy/2024情人节特供后日谈" hx-swap="innerHTML show:window:top">2024情人节特供后日谈(猫猫NTR警告)</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/明日方舟x彩虹六号-联动剧情-水晶箭行动" hx-get="/fantasy/明日方舟X彩虹六号-联动剧情-水晶箭行动/index.html" hx-target="body" hx-push-url="/fantasy/明日方舟X彩虹六号-联动剧情-水晶箭行动" hx-swap="innerHTML show:window:top">明日方舟X彩虹六号-联动剧情-水晶箭行动</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/明日方舟设定集初见" hx-get="/fantasy/明日方舟设定集初见/index.html" hx-target="body" hx-push-url="/fantasy/明日方舟设定集初见" hx-swap="innerHTML show:window:top">明日方舟设定集初见</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/明日方舟动漫第三季预告-塔露拉篇" hx-get="/fantasy/明日方舟动漫第三季预告-塔露拉篇/index.html" hx-target="body" hx-push-url="/fantasy/明日方舟动漫第三季预告-塔露拉篇" hx-swap="innerHTML show:window:top">明日方舟动漫第三季预告-塔露拉篇</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/竹之花" hx-get="/fantasy/竹之花/index.html" hx-target="body" hx-push-url="/fantasy/竹之花" hx-swap="innerHTML show:window:top">竹之花(竹ノ花)</a></div>
      </div>
      <p><br></p>
      <ul class="list-disc ml-5">
        <li>2025:</li>
      </ul>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/凯尔希旧设" hx-get="/fantasy/凯尔希旧设/index.html" hx-target="body" hx-push-url="/fantasy/凯尔希旧设" hx-swap="innerHTML show:window:top">凯尔希旧设</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/deco新曲-视奸-鉴赏" hx-get="/fantasy/DECO新曲-视奸-鉴赏/index.html" hx-target="body" hx-push-url="/fantasy/DECO新曲-视奸-鉴赏" hx-swap="innerHTML show:window:top">DECO新曲-视奸-鉴赏</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/人类衰退之后" hx-get="/fantasy/人类衰退之后/index.html" hx-target="body" hx-push-url="/fantasy/人类衰退之后" hx-swap="innerHTML show:window:top">人类衰退之后</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/纸上的魔法使" hx-get="/fantasy/纸上的魔法使/index.html" hx-target="body" hx-push-url="/fantasy/纸上的魔法使" hx-swap="innerHTML show:window:top">纸上的魔法使</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/万智牌入坑与可爱猫猫" hx-get="/fantasy/万智牌入坑与可爱猫猫/index.html" hx-target="body" hx-push-url="/fantasy/万智牌入坑与可爱猫猫" hx-swap="innerHTML show:window:top">万智牌入坑与可爱猫猫</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/神之亵渎" hx-get="/fantasy/神之亵渎/index.html" hx-target="body" hx-push-url="/fantasy/神之亵渎" hx-swap="innerHTML show:window:top">神之亵渎</a></div>
      </div>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200 after:inline-block after:content-['L'] after:text-cyan-200 after:-translate-x-[0.4px] after:-translate-y-[11px] after:rotate-40 after:-scale-x-65 after:scale-y-70">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/画师bplay的天才群像" hx-get="/fantasy/画师BPLAY的天才群像/index.html" hx-target="body" hx-push-url="/fantasy/画师BPLAY的天才群像" hx-swap="innerHTML show:window:top">画师BPLAY的天才群像</a></div>
      </div>
      <hr class="border-2 border-dashed my-10">
      <h1 class="flex items-center w-fit my-6" id="yuan-chuang-xiao-shuo"><span class="text-2xl mr-2 text-cyan-500">🔗</span> <a class="text-4xl hover:underline underline-offset-8" href="#yuan-chuang-xiao-shuo">原创小说</a></h1>
      <p><strong>求求你们别催啦别催啦, 不写 H 我一下子变得不会写书了</strong> <span style="display: inline-block"><del>(嘻嘻, P站马甲都有 2k+ 粉哩, 桀桀桀)</del></span><br><br></p>
      <div class="flex felx-row items-center my-1">
        <input type="checkbox" class="w-5! h-5! text-4xl! mx-3 align-middle shrink-0 appearance-none outline-2 outline-solid outline-offset-1 outline-sky-200">
        <div><a class="underline underline-offset-5 font-medium" href="/fantasy/异世界的执行机器" hx-get="/fantasy/异世界的执行机器/index.html" hx-target="body" hx-push-url="/fantasy/异世界的执行机器" hx-swap="innerHTML show:window:top">异世界的执行机器</a> (中长篇轻小说, 尚未动笔)</div>
      </div>
    </div>
  </body>
</html>
